{% extends 'base.html.twig' %}

{% block body %}
    <h1>PhotoPost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ photoPost.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ photoPost.description }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ photoPost.path }}</td>
            </tr>
            <tr>
                <th>Absolute Path</th>
                <td>{{ absolutePath }}</td>
            </tr>
        </tbody>
    </table>

    <img src="{{ absolutePath }}" />

    <ul>
        <li>
            <a href="{{ path('photopost_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('photopost_edit', { 'id': photoPost.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
